.venv/
build/
vfong.egg-info/
__pycache__/
osea/*.o
osea/easytest
osea/easytest2
osea/bxbep
*.so
# *.c
!vf_features_native.c
qrs_detect.c
signal_processing.c
vf_data.c
wfdb_reader.c
vf_features.c

# vfta dataset build artifacts
data/
