.venv/
build/
vfong.egg-info/
__pycache__/
osea20-gcc/*.o
osea20-gcc/easytest
osea20-gcc/easytest2
osea20-gcc/bxbep
*.so
# *.c
!vf_features_native.c
qrs_detect.c
signal_processing.c
vf_data.c
wfdb_reader.c
vf_features.c
